$darkThemeFirstColor: #171717;
$darkThemeSecondColor: #1C1F24;
$darkThemeThirdColor: #25282E;
$darkThemeForthColor: #2e323a;

$primaryColor: #2af598;
$secondaryColor: #009efd;
$redColor: #d9534f;

$topNavigationBarHeight: 35px;
$stateBarHeight: 2px;
$sideNavigationBarCompanionWidth: 23px;
$sideNavigationBarContentWidth: 300px;
$editorBottomNavigationBarHeight: 40px;
$editorTopNavigationBarHeight: 40px;
$toolboxWidth: 50px;
